body{
      background:#eee;
      margin-top:20px;}
  
  
  .team {
      position: relative;
      margin-bottom: 20px;
  }
  
  .team .team-content {
      position: absolute;
      bottom: 25px;
      margin: 0 20px;
      left: 0;
      right: 0;
  }
  
  .team .team-content-inner {
      background-color: #ffffff;
      padding: 20px 20px;
      width: 100%;
      -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
      box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
  }
  
  .team .team-content-inner .team-social {
      margin-left: auto;
  }
  
  .team .team-content-inner .team-social .nav .nav-link {
      padding-top: 0;
      padding-bottom: 0;
  }
  
  .team .team-content-inner .team-contact {
      opacity: 0;
      position: absolute;
      bottom: 0px;
      left: 20px;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
  }
  
  .team:hover .team-content-inner {
      background-color: #009b72;
      color: #ffffff;
      padding: 20px 20px 90px;
  }
  
  .team:hover .team-content-inner .team-info .team-position {
      color: #ffffff;
  }
  
  .team:hover .team-content-inner .team-contact {
      opacity: 1;
      bottom: 20px;
  }
  
  .team:hover .team-content-inner .team-contact .nav .nav-link {
      color: #ffffff;
  }
  
  .team:hover .team-content-inner .team-contact .nav .nav-link:hover {
      color: #000000;
  }
  
  .team:hover .team-content-inner .team-social .nav .nav-link {
      color: #ffffff;
  }
  
  .team:hover .team-content-inner .team-social .nav .nav-link:hover {
      color: #000000;
  }
  
  .team:hover .team-info .avatar-name {
      color: #ffffff;
  }
  
  .team-content-inner .team-info .avatar-name {
      margin-bottom: 0;
      font-weight: 600;
  }
  
  .team-content-inner .team-info .team-position {
      color: #009b72;
  }
  
  .team-02 {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
  }
  
  .team-02 .team-avatar {
      -webkit-box-flex: 0;
      -ms-flex: 0 50%;
      flex: 0 50%;
  }
  
  .team-02 .team-content {
      -webkit-box-flex: 0;
      -ms-flex: 0 50%;
      flex: 0 50%;
  }
  
  .team-02 .team-content-inner {
      padding: 0px;
  }
  
  .team-02 .team-content-inner .team-contact {
      margin-top: 20px;
  }
  
  .team-02 .team-content-inner .team-contact .nav .nav-link {
      color: #2d3037;
      padding: 5px;
  }
  
  .team-02 .team-content-inner .team-contact .nav .nav-link:hover {
      color: #009b72;
  }
  
  .team-02 .team-content-inner .team-desc {
      color: #2d3037;
  }
  
  .social a.text-muted:hover {
      color: #009b72 !important;
  }
  
  @media (max-width: 575.98px) {
      .team .team-content {
          margin: 0 15px;
      }
  }
  .nav {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      padding-left: 0;
      margin-bottom: 0;
      list-style: none;
  }