.profile-detail {
    display: flex;
}

.profile-detail-grid {
    display: grid;
    align-content: flex-start;
    align-items: center;
    grid-gap: 1rem;
    grid-template-columns: auto auto;
}

.bgcolor {
    background-color: rgb(255, 253, 255);
}

.profile-name {
    color: black;
    font-size: 1.75rem;
}

.profile-email {
    color: rgb(35,132,125);
}

.cyan {
    color: rgb(35,132,125);
}

.card-header {
    font-size: 1.5rem;
}